// Template SASS / Painter - SCSS

@import "partials/_variables.scss";
@import "partials/_common.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "partials/_header.scss";
@import "partials/_content.scss";
@import "partials/_footer.scss";

body {
  font-family: 'Exo 2', sans-serif;
  background-color: $default_bg;
  color: $default_clr;
}
.container {
  padding: 10px 250px;
}
